In [9]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import PolynomialFeatures


database = pd.read_csv('C:/Users/fcelli/Documents/food1.csv',sep='\t', header=0)

In [6]:
# creating a list containing for each column of the dataframe the percentage of null values 
liste = []
liste2 = database.columns.values.tolist()
bob = []
compte = 0
for i in liste2:
    bob.append(pd.isnull(database[i]))
    compte = 0
    for j in bob[0]:
        if j == True:
            compte = compte + 1    
    bob = []
    liste.append(compte/1999*100)
print('Liste contenant le pourcentage de valeurs nulles pour chaque variable créée')

Liste contenant le pourcentage de valeurs nulles pour chaque variable créée

In [7]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
from plotly.graph_objs import Scatter, Figure, Layout

iplot([Scatter(x=liste2, y=liste,
              mode='markers', marker = dict(color = np.random.randn(500), colorscale = 'YlOrRd'))])

ModuleNotFoundError: No module named 'plotly'

In [10]:
# Creating a new list excluding columns having less than 50% of values filled


# Getting columns names in a list
liste = []
liste2 = database.columns.values.tolist() 
bob = []
compte = 0
for i in liste2:
    bob.append(pd.isnull(database[i]))  #For each column of liste2 we examine if it contains null values
                                        #if so, we include a bolean in bob list
    compte = 0
    for j in bob[0]:
        if j == True:  # is bob contains True, we increase compte to get the total null values
            compte = compte + 1    
    bob = []      # bob goes back to zero to parse another column
    liste.append(compte/1999*100) #Once the column is parsed, the null values percentage is calculated
new_liste = []   #Creating a list that will contain columns having less than 50% filled values
for j in range(len(liste)):          
    if liste[j] < 50:
        new_liste.append(liste2[j])  #filling new_liste with the columns names

#on récupère la dataframe avec les colonnes concernées
new_database = pd.DataFrame(database, columns = new_liste)

liste = []
liste2 = new_database.columns.values.tolist()  #in another list we get the columns names of the new dataframe
bob = []
compte = 0
for i in liste2:
    bob.append(pd.isnull(new_database[i]))
    compte = 0
    for j in bob[0]:
        if j == True:
            compte = compte + 1    #Counting the number of values for each column
    bob = []
    liste.append(compte/1999*100)   #Calculating the percentages of null values
for j in range(len(liste)):
    if liste[j] < 50:               #filling the list with the columns 
        new_liste.append(liste2[j])

In [11]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
from plotly.graph_objs import Scatter, Figure, Layout

iplot([Scatter(x=new_liste, y=liste,
              mode='markers', marker = dict(color = np.random.randn(500), colorscale = 'YlOrRd'))])

ModuleNotFoundError: No module named 'plotly'

In [12]:
#Some columns are sill useless, we only need numerical values

base_num = new_database._get_numeric_data()  
base_num.head()

,code,created_t,last_modified_t,additives_n,ingredients_from_palm_oil_n,ingredients_that_may_be_from_palm_oil_n,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,...,fiber_100g,proteins_100g,salt_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,calcium_100g,iron_100g,nutrition-score-fr_100g,nutrition-score-uk_100g
0,3087,1474103866,1474103893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,1489069957,1489069957,0.0,0.0,0.0,2243.0,28.57,28.57,0.0,...,3.6,3.57,0.00000,0.000,0.0,0.0214,0.000,0.00129,14.0,14.0
2,4559,1489069957,1489069957,0.0,0.0,0.0,1941.0,17.86,0.00,0.0,...,7.1,17.86,0.63500,0.250,0.0,0.0000,0.071,0.00129,0.0,0.0
3,16087,1489055731,1489055731,0.0,0.0,0.0,2540.0,57.14,5.36,NaN,...,7.1,17.86,1.22428,0.482,NaN,NaN,0.143,0.00514,12.0,12.0
4,16094,1489055653,1489055653,0.0,0.0,0.0,1552.0,1.43,NaN,NaN,...,5.7,8.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Creating base_num_reduite that does not contain numerical but useless columns : code, created_t et last_modified_t

base_num_reduite = base_num.drop(['code','created_t','last_modified_t'], axis = 1)

In [14]:
# We want to replace NaN values by the mean of this column values, this way, if the column contains lots of zeros,
# The value we add will be close to zero and would not impact too much in the case of statistical analyses
# If the column contains few zeros, then adding values corresponding to the column mean will have less impact than adding a zero

moyenne = []
for i in base_num_reduite:
    temp = []
    compteur = 0
    for j in base_num_reduite[i]:
        if np.isnan(j) == False:   
            temp.append(j)
    moyenne_temp = np.mean(np.array(temp))
    print(moyenne_temp)

    for k in base_num_reduite[i]:    
        if np.isnan(k) == True:       
            base_num_reduite[i].iloc[compteur] = moyenne_temp
            compteur = compteur +1
        else:
            compteur = compteur +1

2.1372222222222224
0.0011111111111111111
0.09111111111111111
1480.6262665198237
18.67418326693227
9.838392433234423
0.02456451612903226
0.013534836820083683
40.265323579065836
26.137914704010186
4.196945323741007
6.897530589543938
2.6370414554582604
1.0382103146388664
9.854928027095681e-05
0.007632570588235294
0.09838278622898318
0.0019828810810810812
14.1284046692607
14.113618677042801

In [15]:
base_num_reduite.head()

,additives_n,ingredients_from_palm_oil_n,ingredients_that_may_be_from_palm_oil_n,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,calcium_100g,iron_100g,nutrition-score-fr_100g,nutrition-score-uk_100g
0,2.137222,0.001111,0.091111,1480.626267,18.674183,9.838392,0.024565,0.013535,40.265324,26.137915,4.196945,6.897531,2.637041,1.03821,0.000099,0.007633,0.098383,0.001983,14.128405,14.113619
1,0.000000,0.000000,0.000000,2243.000000,28.570000,28.570000,0.000000,0.018000,64.290000,14.290000,3.600000,3.570000,0.000000,0.00000,0.000000,0.021400,0.000000,0.001290,14.000000,14.000000
2,0.000000,0.000000,0.000000,1941.000000,17.860000,0.000000,0.000000,0.000000,60.710000,17.860000,7.100000,17.860000,0.635000,0.25000,0.000000,0.000000,0.071000,0.001290,0.000000,0.000000
3,0.000000,0.000000,0.000000,2540.000000,57.140000,5.360000,0.024565,0.013535,17.860000,3.570000,7.100000,17.860000,1.224280,0.48200,0.000099,0.007633,0.143000,0.005140,12.000000,12.000000
4,0.000000,0.000000,0.000000,1552.000000,1.430000,9.838392,0.024565,0.013535,77.140000,26.137915,5.700000,8.570000,2.637041,1.03821,0.000099,0.007633,0.098383,0.001983,14.128405,14.113619